.hero {
	color : /*#212529*/#dfe6e9;
	letter-spacing: .4rem;	
	/*padding-left: 40px;
	padding-right: 40px;*/
	margin-bottom: 40px;
	padding-top: 20px;
    padding-bottom: 20px;
	text-align: left;
	word-spacing: 1rem;

}
h1 {
  font-size : 3vw;	
  line-height: 11vh;
}
button  {
	/*margin-left: 30px;
	margin-top: 10px;	*/
}