<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hand Clock</title>
    <style>
        /* Add your CSS here */
      .clock {
        width : 20rem;
        height: 20rem;
        border-style : solid;
        border-radius: 50%;
      }
    </style>
</head>
<body>
<!--Add your layout here-->
  <div class = "clock">
    <div class = "clock-face">
      <div class= "hand hours"></div>
      <div class= "hand minutes"></div>
      <div class= "hand seconds"></div>
    </div>
  </div>
  
<script>
    // Add your JavaScript code here
</script>
</body>
</html>

