.project {
	align-items: center;
	background-color: #1dd1a1;
	border-radius: 5px;
	display : flex;
	flex-direction: column;
	justify-content: space-around;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 20px;
}
.projects {
	align-items: center;
	margin : 0 auto;
}
.linksPrg {

}
.linksPrj a {
	color : #212529!important;
	margin-left : 10px;
}
.title1 {
  color : #f39c12;	
  font-size: 16px;
  margin : 0;
  padding : 0;
  text-align: center;
}
.title2 {
  color : gray;	
  font-size: 35px;
  margin-bottom: 50px;
  margin-top :0;
  text-align: center
}