.project {
	align-items: center;
	background-color: #1dd1a1;
	border-radius: 30px;
	display : flex;
	flex-direction: column;
	height: 300px;
	justify-content: space-around;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 300px;
}
.projects {
	/*background-color: #f39c12;*/

	/*color :#1d809f;*/
	display : flex;
	justify-content: space-around;
}