.project {
	align-items: center;
	background-color: #1dd1a1;
	border-radius: 5px;
	display : flex;
	flex-direction: column;
	/*height: 300px;*/
	justify-content: space-around;
	padding: 20px;

	margin-bottom: 20px;
	margin-top: 20px;
	/*margin : 10px;	
	width: 360px;*/
}
.projects {
	/*background-color: #f39c12;*/

	/*color :#1d809f;
	display : flex;
	justify-content: space-around;*/
	align-items: center;
	margin : 0 auto;
}