.skills {
   background-color: #1d809f;
   padding-bottom: 120px;
   padding-top: 120px;
   text-align: center;
}
.title1 {
  color : #f39c12;	
  font-size: 16px;
  margin : 0;
  padding : 0;
}
.title2 {
  color : #fff;	
  font-size: 35px;
  margin-bottom: 50px;
  margin-top :0;
}
